body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("k.jpg");
    background-size: cover;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.144); 
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color:#ffffff;
}

#name,#password,#email,#phone,#username,#city,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

#d {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 51, 255, 0.798);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}
